body{

    background-color:gainsboro;
    
}
#mybody{
    padding-top: 50px;

}
#tabledata{
    padding-top: 20px;
}   

@media print
{
    * {-webkit-print-color-adjust:exact;}
}
#backgroundimage{
   
    background-repeat : no-repeat; 
    margin-top : 50px;
    width: 100%;
    height: auto;
}
